<div [formGroup]="fGroup">
        (
        Fahrzeugtyp
        
            
            
                <ct-roadster [fControl]="getFormControl('roadster')" ></ct-roadster>
            
            
        
            
            
                <ct-kleinwagen [fControl]="getFormControl('kleinwagen')" ></ct-kleinwagen>
            
            
        
            
            
                <ct-kombi [fControl]="getFormControl('kombi')" ></ct-kombi>
            
            
        
            
            
                <ct-limousine [fControl]="getFormControl('limousine')" ></ct-limousine>
            
            
        
            
            
                <ct-sportwagen [fControl]="getFormControl('sportwagen')" ></ct-sportwagen>
            
            
        
            
            
                <ct-suv [fControl]="getFormControl('suv')" ></ct-suv>
            
            
        
            
            
                <ct-van [fControl]="getFormControl('van')" ></ct-van>
            
            
        
            
            
                <ct-andere [fControl]="getFormControl('andere')" ></ct-andere>
            
            
        
            
            
                <ct-sitzplaetze-auswahl [fGroup]="getFormGroup('sitzplaetzeAuswahl')" ></ct-sitzplaetze-auswahl>
            
            
        
        )
    <p>
</div>

