<div [formGroup]="fGroup">
    <p>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="group-title"> <%= element.label %> </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            <% for (let child of element.options.childs) { %>
                <% if (child.options.displayCond !== '') { %> <div *ngIf="hasLegalValue('<%= camelize(child.options.displayCond) %>')"> <% } %>
                <% if (child.type === 'group') { %>
                    <<%=prefix%>-<%= dasherize(child.id) %> [fGroup]="getFormGroup('<%= camelize(child.id) %>')" ></<%=prefix%>-<%= dasherize(child.id) %>>
                <% } else { %>
                    <div>
                    <<%=prefix%>-<%= dasherize(child.id) %> [fControl]="getFormControl('<%= camelize(child.id) %>')" ></<%=prefix%>-<%= dasherize(child.id) %>>
                    </div>
                <% } %>
                <% if (child.options.displayCond !== '') { %> </div> <% } %>
            <% } %>
            </ng-template>
        </mat-expansion-panel>
    </p>
</div>

