<% if(!element.options.showAsSwitch) { %>
<mat-checkbox
    [formControl]="fControl"
    [disabled]="fControl.disabled"
    <% if(element.options.required) { %> required <% } %>
    style="<%= element.options.styling %>"
>
    <%= element.label %>
</mat-checkbox>
<% } else { %>
<mat-slide-toggle [formControl]="fControl" 
    [disabled]="fControl.disabled"
    <% if(element.options.required) { %> required <% } %>
    style="<%= element.options.styling %>"
>
    <%= element.label %>
</mat-slide-toggle>
<% } %>
<% if(element.options.required) { %> 
<mat-error *ngIf="requiredError()">
    <%= element.options.requiredErrorMessage %>
</mat-error>
<% } %>