<mat-form-field appearance="standard">
    <mat-label> <%= element.label %>  </mat-label>
    <mat-select [formControl]="fControl" 
        <% if(element.options.required) { %> required 
        [errorStateMatcher]="matcher"<% } %> 
        <% if(element.options.multiple) { %> multiple <% } %> 
        >
        <mat-option *ngFor="let option of values" [value]="option">
            {{option}}
        </mat-option> 
    </mat-select>
    <mat-error *ngIf="fControl.hasError('required')">
        <%= element.options.requiredErrorMessage %>
    </mat-error>
</mat-form-field>