<div [formGroup]="fGroup">
    <p>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="group-title"> Weitere Optionen </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            
                
                
                    <div>
                    <ct-first-registration [fControl]="getFormControl('firstRegistration')" ></ct-first-registration>
                    </div>
                
                
            
                
                
                    <div>
                    <ct-engine [fControl]="getFormControl('engine')" ></ct-engine>
                    </div>
                
                
            
            </ng-template>
        </mat-expansion-panel>
    </p>
</div>

