<div [formGroup]="fGroup">
        (
        <%= element.label %>
        <% for (let child of element.options.childs) { %>
            <% if (child.options.displayCond !== '') { %> <div *ngIf="hasLegalValue('<%= camelize(child.options.displayCond) %>')"> <% } %>
            <% if (child.type === 'group') { %>
                <ct-<%= dasherize(child.id) %> [fGroup]="getFormGroup('<%= camelize(child.id) %>')" ></ct-<%= dasherize(child.id) %>>
            <% } else { %>
                <ct-<%= dasherize(child.id) %> [fControl]="getFormControl('<%= camelize(child.id) %>')" ></ct-<%= dasherize(child.id) %>>
            <% } %>
            <% if (child.options.displayCond !== '') { %> </div> <% } %>
        <% } %>
        )
    <p>
</div>

