<div [formGroup]="fGroup">
    <p>
        (
        <%= element.label %>
        <% for (let child of element.options.childs) { %>
            <% if (child.type === 'group') { %>
                <ct-<%= dasherize(child.id) %> [fGroup]="getFormGroup('<%= camelize(child.id) %>')" ></ct-<%= dasherize(child.id) %>>
            <% } else { %>
                <ct-<%= dasherize(child.id) %> [fControl]="getFormControl('<%= camelize(child.id) %>')" ></ct-<%= dasherize(child.id) %>>
            <% } %>
        <% } %>
        )
    </p>
</div>

