<div [formGroup]="fGroup">
        (
        Marke, Modell, Variante
        
            
            
                <ct-marke [fControl]="getFormControl('marke')" ></ct-marke>
            
            
        
            
            
                <ct-modell [fControl]="getFormControl('modell')" ></ct-modell>
            
            
        
            
            
                <ct-variante [fControl]="getFormControl('variante')" ></ct-variante>
            
            
        
        )
    <p>
</div>

