<div [formGroup]="fGroup">
    <p>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title class="group-title"> Marke, Modell, Variante </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
            
                
                
                    <div>
                    <ct-marke [fControl]="getFormControl('marke')" ></ct-marke>
                    </div>
                
                
            
                
                
                    <div>
                    <ct-modell [fControl]="getFormControl('modell')" ></ct-modell>
                    </div>
                
                
            
                
                
                    <div>
                    <ct-variante [fControl]="getFormControl('variante')" ></ct-variante>
                    </div>
                
                
            
            </ng-template>
        </mat-expansion-panel>
    </p>
</div>

