<mat-form-field class="chip-list" appearance="standard">
    <mat-label><%= element.label %></mat-label>
    <mat-chip-list #chipList [formControl]="fControl" <% if(element.options.required) {%>required [errorStateMatcher]="matcher" <% } %> >
        <mat-chip
            *ngFor="let chip of fControl.value"
            <% if(element.options.removable) { %>
            removable
            (removed)="remove(chip)"    
            <% } %>
        >
            {{chip}}
            <% if(element.options.removable) { %><mat-icon matChipRemove>cancel</mat-icon><% } %>
        </mat-chip>
        <input
            #chipInput
            placeholder="<%= element.options.placeholder %>"
            [formControl]="textControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="seperatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
        >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let suggestion of filteredSuggestions | async" [value]="suggestion">
            {{suggestion}}
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="fControl.hasError('required')">
        <%= element.options.requiredErrorMessage %>
    </mat-error>
</mat-form-field>