<h4>
    <%= element.label %>
</h4>
<div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="fControl.value" class="mat-elevation-z8">

        <ng-container matColumnDef="control">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-mini-fab color="primary" type="button" (click)="addRow()" [disabled]="addButtonDisabled()">
                    <mat-icon>add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let content">
                <% if(element.options.deletable) { %>
                <button mat-icon-button type="button" (click)="deleteRow(content)">
                    <mat-icon>cancel</mat-icon>
                </button>
                <% } %>
            </td>
        </ng-container>

        <% for (let column of element.options.columns) { %>
        <ng-container matColumnDef="<%= column.id %>">
            <th mat-header-cell *matHeaderCellDef>
                <<%=prefix%>-<%= dasherize(column.id) %> [fControl]="getFormControl('<%= column.id %>')">
                </<%=prefix%>-<%= dasherize(column.id) %>>
            </th>
            <td mat-cell *matCellDef="let content">{{getCellValue('<%= column.id %>', content)}}</td>
        </ng-container> <% } %>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>