<h1>
    Fahrzeugsuche
</h1>
<div>
    <form [formGroup]="fGroup" (ngSubmit)="onSubmit()">
        
            
            
                <ct-zustand-auswahl [fGroup]="getFormGroup('zustandAuswahl')" ></ct-zustand-auswahl>
            
            
        
            
            
                <ct-modell-auswahl [fGroup]="getFormGroup('modellAuswahl')" ></ct-modell-auswahl>
            
            
        
            
            
                <ct-typ-auswahl [fGroup]="getFormGroup('typAuswahl')" ></ct-typ-auswahl>
            
            
        
            
            
                <ct-others [fGroup]="getFormGroup('others')" ></ct-others>
            
            
        

         <button mat-button color="primary" type="button" (click)="onReset()">Zurücksetzen</button> 
        
        <button mat-raised-button color="primary" type="submit" [disabled]="!fGroup.valid">Absenden</button>
    </form>
    <p>
        {{formValue | json}}
    </p>
</div>